[2020-04-12 18:57] hrueger opened #1 "Node JS Version"
Hi,
great job!
What version of NodeJS are you using? I always get an error that it requires another node version and that I should try and recompile.

Thanks!

[2020-04-13 04:10] emptycrown commented on #1
Hello! Did you make sure to set your Electron version to 6.1.9?

[2020-04-13 04:35] hrueger commented on #1
Oops, I realized that this specific version was set in the `package.json`, but I used my global electron installation. Sorry! I'll try again and reopen this issue if necessary.

[2020-04-13 05:45] #1 closed

[2020-04-13 09:36] Envek commented on #1
Yes, obs-studio-node currently works only for Electron 6.x. I've tried to build it against electron 7 and 8 but got a lot of C++-level compilation errors due to changes in nodejs APIs.

Upstream issue for reference: https://github.com/stream-labs/obs-studio-node/issues/605 (you are authored it btw :smile:)

[2020-04-13 17:14] hrueger opened #2 "JavaScript runtime error: parameterSettings is undefined"
Hi,
It's working with Electron 6.
However, I get the following error after I ran `npm start`:
![grafik](https://user-images.githubusercontent.com/18656830/79141048-bc69da00-7d54-11ea-85c7-914cf71d7716.png)
I could fix it by change the `getAvailableValues()` function to this:
[code]
Then it's working.
Just for reference, `categorySettings` is
[code]
`subcategorySettings` is
[code]
and `parameterSet

[2020-04-13 17:20] hrueger commented on #2
After having a closer look at the code, I found that this already returns 1536x960. So no problem with your code, sorry! Probably a Windows scaling issue (my scaling is at 125% because I'm using a convertible). `1920 / 1.25 = 1536`
[code]

**Edit**: After inspecting the whole code I saw that the `scaleFactor` is multiplied with the display size values retrieved from the electron screen module and

[2020-04-14 08:28] Envek commented on #2
Hmm, that is weird that OBS doesn't return list of available encoders for you.

Try to place `x264` here (it is always available, but slower):

https://github.com/Envek/obs-studio-node-example/blob/cc7f096740adcc722a97ea9032bd7bd8aac89805/obsRecorder.js#L57

Usually `nvenc` or `jim_nvenc` is preferred here, but they are only available on Nvidia cards.

[2020-04-14 08:34] Envek commented on #2
Also OBS seems to ignore programmatic changes to set output video resolution to 1920x1080. This happened for me too and I'm still don't know why.

For now you can manually edit OBS configuration in `osn-data` subfolder and set `OutputCX` and `OutputCY` parameters under `Video` section to `1920` and `1080` respectively.

[2020-04-15 08:59] #2 closed

[2020-04-15 09:08] Envek opened #3 "OBS ignores programmatic set output video resolution"
OBS seems to ignore programmatic changes to set output video resolution to 1920x1080 here:

https://github.com/Envek/obs-studio-node-example/blob/918b801c830aef210ffbc8e22c9278acb525dcea/obsRecorder.js#L86-L89

**Workaround**: You can manually edit OBS configuration in `osn-data` subfolder and set `OutputCX` and `OutputCY` parameters under `Video` section to your display resolution (e.g. `1920` an

[2020-04-15 09:11] Envek commented on #2
Fixed this JS error in case when OBS Studio doesn't return possible values.

Created separate issue about output video resoultion. I have no time to tackle with it right now, but hope that it is something wrong with `setSetting` method (which was copied verbatim from `obs-studio-node` tests) and it just changes resolution in some wrong place.

[2020-04-15 09:14] Envek commented on #3
I have no time to tackle with it right now, but hope that it is something wrong with `setSetting` method (which was copied verbatim from `obs-studio-node` tests) and it just changes resolution in some wrong settings subcategory may be).

[2020-04-15 09:29] #3 closed

[2020-04-15 09:32] Envek commented on #3
It turned out that settings from API are slightly differs in format from what is stored in OBS Studio's `basic.ini`.

How to set resolution to 1920x1080:
[code]
And how it will appear in `osn-data/basic.ini`:
[code]

[2020-04-15 20:48] hrueger opened #5 "Projector / Display / Preview output"
I tried to create a projector or a display, but I couldn't get it to work. In `streamlabs-obs` I found this code: [https://github.com/stream-labs/streamlabs-obs/blob/e707f9819a10296893f4d3e058d12110c1ec44a7/app/services/video.ts#L254-L275](https://github.com/stream-labs/streamlabs-obs/blob/e707f9819a10296893f4d3e058d12110c1ec44a7/app/services/video.ts#L254-L275)
So I have the following code:
[code

[2020-04-15 20:49] hrueger commented on #5
I also saw that the `obs-studio-node` object created with `const osn = require("obs-studio-node");` has a `DisplayFactory` property, but its value is `undefined`...

[2020-04-16 00:24] emptycrown commented on #5
Hey, we were mainly focused on recordings (rather than live outputs) so I haven't looked into this specific case. I believe what you want to use is `InputFactory` though.

[2020-04-16 01:09] hrueger commented on #5
As I could find out by looking at the `streamlabs-obs` source code, they're using `InputFactory` for physical devices which stream a video signal into `obs`. But interestingly they're neither using `OutputFactory` nor `DisplayFactory`. That means the above code must somehow be the right approach.
I'll play around with that. In case I manage to get it working, I'll create a pull request.

[2020-04-16 10:54] Envek commented on #5
I've tried to look at it earlier, but with no luck yet.

As for me, method `OBS_content_createSourcePreviewDisplay` looks more appropriate as it accepts `sourceId` param which could be an identifier for the scene created at our `obsRecorder.js`'s `setupSources()` function (I believe that scenes can be used interchangeably with plain sources, but not sure).

Take a look at `Display` service usage a

[2020-05-06 04:03] chengjingfeng commented on #5
@EmptyCrown @Envek @hrueger

for your reference：

//import obs-studio-node
const osn = require("obs-studio-node");

//get camera input
const obsVideoInput = osn.InputFactory.create('dshow_input', 'video', {
audio_device_id: 'does_not_exist',
video_device_id: 'does_not_exist',

});

var devieid = '';
const iListProperty = obsVideoInput.properties.get('video_device_id');
const cameraItems = iListPro

[2020-05-06 09:52] hrueger commented on #5
@chengjingfeng Thank's so much!
What does the last line do? `osn.Global.setOutputSource(1, scene02);`. There's no `scene02` and it works just fine without it.

@EmptyCrown @Envek  I'll create a PR soon.

[2020-05-06 18:54] #5 closed

[2020-05-12 09:08] Envek opened #7 "Preview window doesn't scale on move between displays"
When I move the window from a scaled to a secondary non-scaled screen, the preview overflows the rest of the window. But I don't know how to detect when the scaling changed...
![problem_01](https://user-images.githubusercontent.com/18656830/81558391-e03d3180-938d-11ea-9694-8e022a6c5c18.png)

_Originally posted by @hrueger in https://github.com/Envek/obs-studio-node-example/pull/6#issuecomment-6266

[2020-05-15 11:03] Envek commented on #5
@chengjingfeng, thank you very much for sharing example of webcam handling! Added it to the example app.

[2020-05-15 14:27] hrueger opened #8 "Padding bars around display"
I needed to remove the padding around the display, because my display is in a fullscreen window and the bars make it scale down just a bit, so it is blurry...
This can be done with: `osn.NodeObs.OBS_content_setPaddingSize(displayId, 0);`.
Should we add this to the example app @Envek ?

[2020-05-15 14:35] Envek commented on #8
Can't really understand why this padding appears on the first place… But yes, feel free to add it and make a pull request!

[2020-05-15 15:13] hrueger opened #10 "Camera results in infinite loop when physical camera is off"
I have a webcam, which is actually a DSLR with some kind of capture card. When the DSLR is off, the capture card is shown in Windows as a Webcam, but in OBS its with and height are 0.

The example app detects it as a camera input, but then gets stuck in an infinite loop waiting for the camera width to be other than 0, which does never happen.

Maybe we need another way to check for the initializat

[2020-05-15 15:59] Envek commented on #10
Ouch. My laptop webcam is reports its width and height as 0 for a fraction of a second, while it is being initialized, I suppose.

I wasn't able to quickly find a proper way to wait for its readiness.

[2020-05-16 13:10] #8 closed

[2020-05-16 13:44] #10 closed

[2020-05-16 13:46] Envek commented on #10
For now I've just limited waiting time to 1 second. If camera is still reporting its width as zero, then just skip it and don't use.

If you will find more proper way to handle this, feel free to open pull request.

Thanks for reporting!

[2020-05-22 09:53] viral98 opened #11 "Using OBS plugins"
Hey! Is there a way through which I can use OBS plugins like virtual camera through nodeobs?

[2020-05-22 11:57] Envek commented on #11
Take a look at this obs-studio-node's test: it looks like plugins initialization: https://github.com/stream-labs/obs-studio-node/blob/2cf61ea8d18839cbe919a5f03db76db5e5da36f5/tests/osn-tests/src/test_osn_module.ts
And here is the path where plugins are searched for: https://github.com/stream-labs/obs-studio-node/blob/d54a2828247fbbb4704fc44089bcfcd78966966c/js/module.js#L11

Please tell us a bit m

[2020-05-22 15:09] viral98 commented on #11
I wanted to try out the plugin which initializes [virtual camera](https://obsproject.com/forum/resources/obs-virtualcam.949/)
Thanks for the links though, I'll check them out! Appreciate it!

[2020-05-25 03:40] #11 closed

[2020-05-25 06:28] Envek commented on #11
@viral98, have you figured it out? Can you share your solution with us?

[2020-05-25 08:26] viral98 commented on #11
Hey - no, it seems like I will have to wait till the node OBS team develops it - they seem to be forking webcamdoid's virtual device drivers to [generate one for their own system](https://howto.streamlabs.com/streamlabs-obs-9/how-to-install-virtualcam-on-zoom-with-streamlab-14764). As of now, its Mac only.

[2020-05-30 06:37] lulzsun opened #12 "Creating 'window_capture' & 'game_capture' inputs"
Hey! The example works great, however it doesn't provide any examples other than Display, Audio Device, and Video Device capture.

The examples provide clear and intuitive usage on those inputs, but others are not as easy to use, due to lack of documentation.

For example, I have tried to create a game capture source like so:
`const gameSource = osn.InputFactory.create('game_capture', 'game-source

[2020-05-31 13:16] hrueger opened #13 "Audio output"
And idea how I can output audio?
When I create a video source like [here](https://github.com/hrueger/obs-studio-node/blob/added-docs/README.md), I can't hear any sound.

[2020-06-01 07:45] lulzsun commented on #12
Partially solved. Here's a quick and dirty example on how to create and pick a window for window_capture:

[code]

I'm assuming 'game-capture' works the same way. Closing this.

[2020-06-01 07:45] #12 closed

[2020-06-02 11:03] Envek commented on #12
Thank you for sharing code examples!

[2020-06-05 11:17] Envek commented on #13
Do you want to output audio to recorded file or do you want to play sound via speakers when program runs?

For the first case, current version records system audio to file together with microphone capture:
https://github.com/Envek/obs-studio-node-example/blob/65d587ba64fe19fbfbb50ecb3ba423d51fb273ef/obsRecorder.js#L184-L190
Try to record while watching some video or playing games _and_ speaking at

[2020-06-05 11:52] hrueger commented on #13
I want to output audio speakers while my video source is playing, so the second case.
I wasn't able to find that part in `streamlabs-obs`...

[2020-06-05 11:58] Envek commented on #13
And what audio do you want to play? Static files? Another stream? May be it is better to use built-in Electron features for that? :thinking:

[2020-06-05 12:41] hrueger commented on #13
My application [AGView](https://github.com/hrueger/AGView) is a slide based video player. Like in PowerPoint you have all the slides and when you click one of them, the second screen or projector window fades over to this video and plays it.
The video files are playing without problems and even the transitions are working fine. I just don't hear the sound of the video files.

I belive we have to "

[2020-06-05 14:39] emptycrown commented on #13
If you open the video files themselves and there is no audio, that essentially means something went wrong when capturing audio in the first place. I would check to make sure your audio sources and/or mic sources were set up correctly.

If the video files have audio but you just can't hear anything when the app is running, that sounds like it's not an OBS issue and something up with the app itself.

[2020-06-05 18:50] hrueger commented on #13
The video files do have audio. Playing them in the electron window with a `<video>` tag also works fine and I can hear sound.
I found the `volume` property of the `IInput` objects, but no matter to what value I set it, I can't hear anything...

[2020-06-07 14:58] GaeTheDev opened #14 "How to get window capture ?"
Hello there,
I'm trying to get all opened windows list and display them one by one with a selector (in the renderer).
But, here's my question, how to choose window capture instead of obsCamera (in the obsRecorder.js) ?
Thanks

[2020-06-07 16:00] hrueger commented on #14
I believe that
[code]
has to be replaced with
[code]
and that we have to specify the window to be captured in the third parameter. But I couldn't get it to work. Neither with the `NativeWindowHandle` nor with ids...

[2020-06-08 02:15] emptycrown commented on #7
Maybe related but it doesn't seem possible to even detect the resolution of the given monitor/screen in obs-studio-node.

obs-studio-node indexes the monitors in a multi-monitor setup simply with `0, 1, 2, ...` but these do not match with Electron's indexing, so it's not possible to accurately use an external method.

Have you seen a clean way to figure out the resolution and thus calculate the sc

[2020-06-08 03:17] EmptyCrown opened #15 "Using the correct scene resolution in multi-monitor setups"
Simply using the primary screen resolution obtained from Electron is sufficient when there's just one monitor. However, some cases fail when there are more displays.

Thus far, I haven't been able to track down a consistent way to determine the correct resolution of a given monitor (indexed by `obs-studio-node` via `0, 1, ...`) and use it for the scene.

Will make a post if I find something.

[2020-06-08 11:26] Envek commented on #14
@GaeTheDev take a look at https://github.com/Envek/obs-studio-node-example/issues/12#issuecomment-636672631

Does it solve your problem?

[2020-06-09 14:40] gaedlld commented on #14
Hey, thank you @hrueger for your answer, but it's not working for me too... I replaced the window value "xyz" by the window name (found in OBS-Studio) but no result...
Do you have any other idea ?

[2020-06-10 09:46] gaedlld commented on #14
Sorry @Envek I didn't see your comment ! I tried it and it's working to get a list of all opened windows but not to get displayable result. I get only mouse capture with black screen and screen size instead of window size (I think I need to crop it with window width & height)

![image](https://user-images.githubusercontent.com/18644411/84253694-86589480-ab10-11ea-8323-6b8a55371676.png)

[2020-07-07 09:48] ChaosTong commented on #14
i think you should add this input to a scene, then can display it, i work it out
![QQ截图20200707174604](https://user-images.githubusercontent.com/3345527/86763339-d841fb00-c079-11ea-9693-6629154963f0.png)

[2020-08-09 01:08] chfeizy opened #18 "obs-browser-page.so image not found"
[000:00:00:37.132.340.573][Info] Appdata is /Users/also/www/obs-studio-node-example/osn-data
[000:00:00:37.133.100.117][Error] config_save_safe: failed to write to /Users/also/www/obs-studio-node-example/osn-data/global.ini.tmp
[000:00:00:37.135.224.069][Info] About to reset the video context
[000:00:00:37.138.540.987][Info] ---------------------------------
[000:00:00:37.138.562.564][Info] Initia

[2020-08-10 11:49] Envek commented on #18
So, I suppose, you try to run it on MacOS?

Currently this demo application is only for Windows. You can try to grab link for MacOS obs-studio-node build from [streamlabs-obs](https://github.com/stream-labs/streamlabs-obs) release and place it into package.json (see [“Run on MacOS” section in our README](https://github.com/Envek/obs-studio-node-example#run-on-macos)).

I don't have MacOS so I can'

[2020-08-12 16:51] alse commented on #18
@chfeizy I added mac support in https://github.com/Envek/obs-studio-node-example/pull/19 . The preview doesn't work yet

[2020-08-13 06:53] chfeizy commented on #18
@alse
[000:00:00:00.081.331.230][Error] config_save_safe: failed to write to /Users/also/www/obs-studio-node-example/osn-data/global.ini.tmp
Unable to load '/Users/also/www/obs-studio-node-example/node_modules/obs-studio-node/obs-plugins/libEGL.dylib', missing exports.
[000:00:00:00.194.809.022][Error] os_dlopen(/Users/also/www/obs-studio-node-example/node_modules/obs-studio-node/obs-plugins/obs-b

[2020-08-13 07:41] Envek commented on #18
Try to take newer version from #19: https://github.com/Envek/obs-studio-node-example/blob/7914078452853ba04d9affe24cb7481485299a61/README.md#L36

Link to `obs-studio-node-0.5.215-iojs-v6.0.3-osx-release.tar.gz` was taken from Streamlabs OBS codebase when @stream-labs folks were still working on MacOS support (and it wasn't finished yet).

[2020-08-13 08:37] chfeizy commented on #18
Initializing OBS...
error: config_save_safe: failed to write to /Users/also/www/obs-studio-node-example/osn-data/global.ini.tmp
error: Plugin Path provided is invalid: /Users/also/www/obs-studio-node-example/node_modules/obs-studio-node/obs-plugins/64bit
Plugin Path provided is invalid: /Users/also/www/obs-studio-node-example/node_modules/obs-studio-node/obs-plugins/64bit
Unable to load '/Users/al

[2020-08-13 12:53] alse commented on #18
0.9.0 works for me in #19 with macos 10.15.4

[2020-08-15 13:40] chfeizy opened #20 "How to change Display"
Need to switch camera and desktop scene preview

let displayId = 'display_1';
let s_bounds;
export function setupPreview(window, bounds) {
  displayId='display_'+scene.name;
  s_bounds=bounds;
  console.log(displayId);
  osn.NodeObs.OBS_content_createSourcePreviewDisplay(
    window.getNativeWindowHandle(),
      scene.name, // or use camera source Id here
      displayId,
  );
  osn.NodeObs.OBS_c

[2020-08-15 14:27] hrueger commented on #20
I think what you want to achieve can be done with `transitions`. You can have a look at [the docs here](https://github.com/hrueger/obs-studio-node/blob/added-docs/README.md#transitions) in my docs PR (which by the way hasn't gotten any attention since I created it in May...) stream-labs/obs-studio-node#658

[2020-08-15 14:36] chfeizy commented on #20
osn.NodeObs.OBS_content_moveDisplay(displayId,-20000,-20000);

use this can hidden the old display

[2020-08-15 14:43] hrueger commented on #20
With transitions you can have nice animations, for example fades

[2020-08-16 01:24] chfeizy commented on #20
This transitions is used when outputting, but I also use it when display

[2020-08-16 06:52] hrueger commented on #20
Instead of `scene.name, // or use camera source Id here` in the `setupPreview()` function use an empty string ( `""` ). Then the output is used for the display source. Maybe you can also specify the transition name but I haven't tested this.

[2020-08-18 07:40] chfeizy commented on #12
@lulzsun
`let windows = videoSource.properties.get('window').details.items;`
when the  windows[0].value has chinese,
and use encodeURI(windows[0].value)
Preview is still black

[2020-08-18 07:44] #20 closed

[2020-08-18 07:45] chfeizy commented on #20
transition is great

[2020-08-18 08:19] chfeizy opened #21 "osn.InputFactory.create('window_capture', 'window-source') Black screen with Chinese"
[code]

[code]
When there is Chinese in the value, the screen will be black

[2020-08-18 10:51] Envek commented on #21
Why do you do `encodeURI(value)`? I wonder whether there is some string re-encoding is required (e.g. Windows uses UTF-16 almost everywhere internally, AFAIK).

---

I think you'd better to open this issue in obs-studion-node library repository instead at https://github.com/stream-labs/obs-studio-node/issues – we're just users of it that reverse-engineer how to use it.

[2020-08-19 00:52] chfeizy commented on #21
@Envek ok

[2020-08-19 00:52] #21 closed

[2020-08-22 06:07] chfeizy commented on #18
https://s3-us-west-2.amazonaws.com/obsstudionodes3.streamlabs.com/osn-0.9.5-release-osx.tar.gz
This version is still the same
[code]
node_modules/obs-studio-node/obs-plugins/obs-browser-page.so, 257): image not found

What is the address of the last version of win

[2020-08-22 14:16] alse commented on #18
@chfeizy I'm also seeing those errors when running streamlabs-obs from the terminal `/Applications/Streamlabs\ OBS.app/Contents/MacOS/Streamlabs\ OBS`. Maybe something to post in [obs-studio-node](https://github.com/stream-labs/obs-studio-node)

[2020-08-26 22:40] alse opened #22 "obs64 process doesn't close when quitting app on macos"
Tested on #19. It also happens with the streamlabs app in dev mode, but not the production release.

Is anyone seeing this on windows as well?

[2020-08-27 06:46] hrueger commented on #22
Do you have any extra preview windows / displays? I needed to explicitly close them before shutting down obs (but I'm running windows).

[2020-08-27 14:31] alse commented on #22
No, they're all closed. I tried skipping the scene & preview setup completely, so that the app only initializes and shuts down. No luck

[2020-08-28 07:54] Envek opened #23 "Live preview doesn't work on mac yet"
_Originally posted by @alse in https://github.com/Envek/obs-studio-node-example/pull/19#issuecomment-679145164_

[2020-09-04 06:58] #23 closed

[2020-11-02 10:41] Envek opened #26 "Doesn't look well with dark system theme"
After upgrade in Electron 10 in #25 it started to look bad on systems with dark UI: black text on dark background.

It should be easy to fix. Possibly relevant docs: https://www.electronjs.org/docs/api/native-theme

![изображение](https://user-images.githubusercontent.com/264400/97858381-20171d00-1d10-11eb-8bcc-ca4daf3b7737.png)

[2020-11-02 11:39] jpa44 opened #27 "Failed to host and connect"
Hi
i'm using vue-cli-service with your exemple and i have this error : Failed to host and connect. I'm blocked and i don't kno how to solve this thanks !

`> vue-cli-service electron:serve

 INFO  Starting development server...
 WARN  Express server  You have to launch the express server before if you want to use relative path in your code!
98% after emitting CopyPlugin

 DONE  Compiled successful

[2020-11-02 12:57] Envek commented on #27
What is your OS and Node version? I've tested it only on Windows with Node,js 12.

Does it work without that `vue-cli-service` (sorry, I don't know what is it), if you just do `yarn install` and `yarn start` (as stated in README)?

[2020-11-02 13:31] jpa44 commented on #27
hey i'm on windows 10 with :
node : 12.4.0 and electron 6.1.9

i use [vue-cli-plugin-electron-builder](https://github.com/nklayman/vue-cli-plugin-electron-builder) to works with vuejs on electron. Without this package the example works fine.

i use npm i will try with yarn to see
Thanks ;)

[2020-11-02 14:39] hrueger commented on #27
@jpa44 I have an Angular project and it internally uses Webpack (which I belive your `vue-cli-plugin-electron-builder` does, too). I had to add a `loader` for `.node` files. See [those lines](https://github.com/hrueger/AGView/blob/0de69a75ad308959f152480a53099cd72706d1f5/angular.webpack.js#L25-L28).

[2020-11-02 14:47] jpa44 commented on #27
@hrueger yes i did this in my vue.config.js  because i struggled with NODE_MODULE_VERSION error
i will take a look to your main.js btw
Thanks !
[code]

[2020-11-19 14:35] julienjura opened #28 "Output to URL"
Hello there !

I'm trying to capture & stream audio to an URL as provided in OBS-Studio. I've just cloned this minimal sample repo, rebuilt obs-studio-node from source, properly updated package.json and ran yarn install/start.

Electron is launching but won't send data to my URL (Icecast server) as set in basic.ini. I end up with the same situation when trying to set settings by myself in function

[2020-11-19 14:36] julienjura commented on #28
Everything is working on OBS-Studio, i just want to replicate the correct settings in an test electron app through obs-studio-node

[2020-11-19 15:48] Envek commented on #28
Don't change ini files directly, instead change configuration programmatically, as shown here: https://github.com/Envek/obs-studio-node-example/blob/e6268687c9eabcc50c063f9ef95f7e8abfc110ea/obsRecorder.js#L69-L77

Beware though, that API doesn't match configuration files format 1-to-1 and I believe that there is probably no docs for that. So, only trial and error and many experiments in debugger c

[2020-11-19 16:02] julienjura commented on #28
Hi Envek !

I tried this way yet but unsuccessfully. I'va posted my configureOBS() function

I'm using FFmpeg in OBS-Studio, so I tried :
setSetting('Output', 'RecType', 'FFmpeg');

Maybe FFmpeg is a plugin or something else i need to place in specific location ?

I traced encoders returned by
Only these are provided :
`const availableEncoders = getAvailableValues('Output', 'Recording', 'RecEncode

[2020-12-09 00:39] xiaoyao316 commented on #28
@julienjura   Any progress? I was also plagued by the problem of pushing streams to the server, and I didn't know how to set it up because there was no docs.

[2021-02-16 12:43] berkon opened #31 "Unable to set webcam resolution"
I'v removed the comments in the corresponding section in obsRecorder.js, and set the resolution to 1920x1080, but the webcam still shows 640x480. Also setting width and height in `InputFactory.create(...)` does not seem to change anything.

[code]

BTW: Thanks for this great example @Envek. This helped me a lot. Unfortunately obs-studio-node is not documented very well.

[2021-02-16 23:17] berkon commented on #31
Just found the solution:
[code]

[2021-02-16 23:17] #31 closed

[2021-02-19 07:10] alokmahor opened #32 "How to set text instead of screen capture in scene?"
How to set text instead of screen capture in scene?

[2021-02-26 13:04] Envek commented on #31
That's why we've created this example, after all.

Thank you for sharing the solution! I've added it to README

[2021-03-08 13:18] alokmahor opened #33 "How to package this electron app for distribution?"
How to package this electron app for distribution?
I tried to package using [electron-builder](https://www.electron.build/) but that does not work.

[2021-03-08 13:41] hrueger commented on #33
Hi @alokmahor,
What issue do you have with `electron-builder`? I use it in [AGView](https://github.com/hrueger/AGView) and it works fine.

[2021-03-08 17:13] alokmahor commented on #33
I tried to generate installer by adding `electron-build` related entries in `package.json`.

[code]

I run `yarn dist` to generate installer.
I am able to see installer in `dist` directory. I am able to run it but it get closed automatically. When I run this installer it install at `C:\Users\alokm\AppData\Local\Programs\obs-studio-node-example\obs-studio-node-example.exe`

When I try to run `C:\Us

[2021-03-08 18:11] hrueger commented on #33
If you start a terminal / command prompt, navigate to `C:\Users\alokm\AppData\Local\Programs\obs-studio-node-example\` and run the exe, what is the output?

[2021-03-08 18:32] alokmahor commented on #33
I dont see any error message. GUI opens for only about one second then closes itself. I see only only log line

[code]

I guess execution is getting stuck in
[code]

Code is running fine but distribution is not running. What can be the reason?

[2021-03-09 07:56] hrueger commented on #33
I found the problem. In the path generated by `path.join` we have to replace `app.asar` by `app.asar.unpacked`. I remember that I had to do this in AGView, too: https://github.com/hrueger/AGView/blob/0de69a75ad308959f152480a53099cd72706d1f5/src/worker/obs.ts#L61-L62

@Envek Should I create a PR? It doesn't break anything when run in dev mode as in that case there is no `app.asar` in the path, so n

[2021-03-09 08:04] Envek commented on #33
@hrueger oh, yes, please! :pray:

Thank you for the investigation!

[2021-03-09 08:15] alokmahor commented on #33
Thank you @hrueger  and @Envek :)
replacing `app.asar` by `app.asar.unpacked` sovled my problem 🙏

[2021-03-09 08:38] hrueger commented on #33
@Envek The `videos` folder does not exist when packaged. Should we use the default videos folder? https://www.electronjs.org/docs/api/app#appgetpathname

[2021-03-09 09:04] hrueger opened #35 "Add docs to this repo"
As you might know, I created this PR https://github.com/stream-labs/obs-studio-node/pull/658 back in May 2020.
Since they seem to ignore it, should we add it to this repo in a `docs` folder?

[2021-03-09 09:09] hrueger commented on #32
@alokmahor Did you try the `text_gdiplus` source? See my docs here: https://github.com/hrueger/obs-studio-node/tree/added-docs#creating

[2021-03-09 09:39] Envek commented on #35
I don't see much value in the whole library docs here. However, some README pieces (like “how to do X”) looks pretty valuable and I would like to have them in our example's README.

Feel free to create pull request and add or change anything in our README ghat makes sense for you.

[2021-03-09 09:54] hrueger commented on #35
OK, sure. Makes sense. If I create a docs repo under my scope, would you link to it?

[2021-03-09 10:18] Envek commented on #35
Yes, sure.

[2021-03-09 10:20] #33 closed

[2021-03-09 10:40] alokmahor commented on #33
I am sorry. I have created new issue

[2021-03-09 10:46] hrueger commented on #33
Since this is a different problem, would you mind creating a separate issue for that?

[2021-03-09 10:49] alokmahor opened #36 "Error in building package this example with react"
I am using this example with `react`. My project structure is
[code]

My `package.json` is like

[code]

on running command ` yarn electron-pack` I am getting error which can be seen on this iamge https://i.stack.imgur.com/jEvgm.png
This error is related to `app.asar` path

How can I fix this?

[2021-03-09 10:54] hrueger commented on #36
I only have little experience with react, but it would be interesting to know what package causes the problem. If you move the program to `C:\myapp`, the path should be shorter and visible in the error message.

[2021-03-09 11:05] alokmahor commented on #36
Thank you for idea of moving directory to `C:` for shorter path.
That error is at https://i.stack.imgur.com/PM8SL.png

[2021-03-09 11:12] hrueger commented on #36
You could unpack the `app.asar` file using `npx asar extract app.asar unpackedAsar` and have a look at the `package.json` file. Is it valid json? Does it even exist?

[2021-03-09 11:16] alokmahor commented on #36
Yes `C:\alok\resources\app.asar.unpacked\node_modules\obs-studio-node\package.json` a valid json file. Its part of `obs-studio-node` module. This is working fine without react.

I guess `C:\alok\resources\app.asar.unpacked\node_modules\obs-studio-node\package.json` should be path ineasted of `C:\alok\resources\app.asar\node_modules\obs-studio-node\package.json` to make it work. Dont know what `ele

[2021-03-09 11:26] hrueger commented on #36
Hm, I'm sorry, I believe this is a react specific problem if it works fine without it.
For Angular I had to create a [custom webpack configuration](https://github.com/hrueger/AGView/blob/master/angular.webpack.js), however, I don't specify anything about `osn` here.

[2021-03-09 11:38] alokmahor commented on #36
setting `"asar": false` in `build` config is solving my problem :)
Thank you @hrueger

[2021-03-09 11:43] hrueger commented on #36
Great.
However, using asar is recommended as it reduces the number of files quite a bit. You can try adding `obs-studio-node?  to the `asarUnpack` configuration property like descriped here: https://www.electron.build/generated/platformspecificbuildoptions

[2021-03-09 14:52] #35 closed

[2021-03-10 03:40] alokmahor commented on #36
I was using electron 11.0.3. this version have some bug that is why installer was failing according to https://github.com/electron/electron/issues/25438

Now I am using electron 11.1.0 for which installer is working fine

[2021-03-11 03:20] alokmahor opened #38 "How to build custom 32 bit obs-studio-node for this project"
I am able to build `64bit` `obs-studio-node` with custom `OSN_LIBOBS_URL`

But I am not able to build `32bit` `obs-studio-node` with custom `32bit` `OSN_LIBOBS_URL`
I followed following steps

First I built `32bit` `libobs` using steps

1. `git clone --recursive https://github.com/stream-labs/obs-studio`
2. `cd obs-studio`
3. `mkdir build32`
4. `cmake -G "Visual Studio 16 2019" -A Win32 -S . -B bu

[2021-03-18 14:30] alokmahor opened #39 "Error in starting app with custom obs-studio-node built with latest code"
As dependency this app using
[code]
I wanted to try custom built `obs-studio-node`. I created that using steps given in `README.md`
when I try to run app using custom `obs-studio-node` I am getting error

[code]

My system details are:
OS: Windows 10 enterprise
Node: 14.16.0

[2021-03-21 16:13] hrueger commented on #13
Thanks to @alokmahor we now kow that you need to set `source.monitoringType` to `2` in order to hear sound. See  https://github.com/hrueger/AGView/pull/38 for reference. I'll keep investigating and add that to https://github.com/hrueger/obs-studio-node-docs . I'll close this issue once the documentation is in place.

[2021-03-22 17:34] hrueger commented on #13
added docs in https://github.com/hrueger/obs-studio-node-docs/commit/9e9285106cc4450506fffee594693d5834a2f386
There are three options available in total, provided by the `osn.EMonitoringType` enum.

[2021-03-22 17:34] #13 closed

[2021-03-22 19:14] alokmahor commented on #32
Thanks @hrueger

[2021-03-22 19:14] #32 closed

[2021-03-25 22:01] GeForcez opened #40 "How to get a stream or per frame event of the input source or scene"
Hi guys,
I'm trying to use this as an example of how to use the obs-studio-node lib.
But what I'm actually trying to do is to get a stream/event of the captured input/preview screen so i can get data from every frame captured by the obs lib (in real time ish).
I just can't seem to find anything in the code that is updating the preview div tag let alone a way to get the frames of the input source.

[2021-03-26 05:58] Envek commented on #40
That's because nothing updates `div` tag. It is always blank and serves just as a placeholder to keep space. obs-studio-node renders preview video separately on top of that `div`, we just provide coordinates of this div container relatively to window borders, using some OS-level mechanics (I'm not sure which).

Regarding your main question I don't know whether it is possible or not using just the

[2021-03-26 08:07] maximehuylebroeck commented on #40
thanks for your reply. seems like I have a bit of research to do :p

[2021-03-26 08:07] #40 closed

[2021-04-13 09:21] alokmahor opened #41 "How to give pause recording option after starting recording?"
Currenty in this project we have option of Starting and Stopping recording.
Can we pause recording after starting?

[2021-04-16 02:35] jiangxiaopeng opened #42 "windows use obs.NodeObs.OBS_content_destroyDisplay crash"
obs.NodeObs.OBS_content_destroyDisplay crash

os:   windows 10

[2021-04-16 06:47] Envek commented on #41
Sorry, for now I don't have capacity to research [obs-studio-node](https://github.com/stream-labs/obs-studio-node) API. Maybe someone else can help. If you find a solution, please post it here or create a pull request with additions to README. Thanks!

[2021-04-16 06:51] Envek commented on #42
Sorry, for now I don't have capacity to look into it.

Maybe you need to post an issue into [obs-studio-node](https://github.com/stream-labs/obs-studio-node) itself as they are developers, and I'm also just a user of obs-studio-node, like you.

Please post more details on how to reproduce it, please try to use newer build of obs-studio-node.

[2021-04-19 09:59] hrueger commented on #41
@alokmahor I don't know if this is possible in `obs-studio-node`. I didn't find any `pause` commands in neither Streamlabs OBS's code nor in `obs-studio-node`.
Do you know if a user can do this in Streamlabs OBS?

[2021-04-19 10:06] hrueger commented on #28
@julienjura @xiaoyao316 Did you call `osn.NodeObs.OBS_service_startStreaming()`?

If you get it working, it would be great if you could create a PR to https://github.com/hrueger/obs-studio-node-docs with instructions on how to setup streaming.

[2021-04-19 17:37] alokmahor commented on #41
@hrueger, I also did not find such feature but I guess it should be east to implement.

[2021-04-20 09:54] hrueger opened #44 "Virtual camera is called `Streamlabs OBS Virtual Camera`"
When enabled, the virtual camera shows up as `Streamlabs OBS Virtual Camera`. The relevant code in `obs-studio-node` is [here](https://github.com/stream-labs/obs-studio-node/blob/36eeb480f36c9c414fb73223d144f4889e331029/obs-studio-client/source/nodeobs_service.cpp#L276), however, there's no hardcoded `Streamlabs OBS Virtual Camera`...

[2021-04-25 05:47] alokmahor commented on #44
https://github.com/stream-labs/obs-studio-node/issues/909#issuecomment-826261958_

[2021-05-01 07:06] alokmahor opened #45 "Virtual camera is not working on MacOS"
I have added
[code]
in my package.json file.

App is working fine and preview is also working fine. virtual camera plugin is also installed that is visible in google meet. In the app when I click Start virtual camera then it does not start virtual camera. `obs64` cpu usages becomeo more than 100% and my laptop battery drains quickly.

On starting virtual camera in log I see
[code]

[2021-05-01 07:40] hrueger commented on #44
Thanks @alokmahor. I'll test this. I want to automate the build using GitHub Actions, but unfortunately, `obs-studio-node` needs VisualStudio 15 or 17. OBS itself, however, needs 17 or 19 with a very recent Windows 10 SDK. On the `windows-2019` Actions environment there's only VS 19 and on `windows-2016` the Windows 10 SDK is too old.
The issue is tracked here: https://github.com/actions/virtual-e

[2021-05-01 08:02] alokmahor commented on #44
I am able to build `obs-studio-node` as well as `obs-studio` using latest visual studio 19 without any issue.

[2021-05-01 08:37] hrueger commented on #44
Oh, interesting. I'll try that right now.

[2021-05-01 08:58] hrueger commented on #44
@alokmahor Did you install anything related to ffmpeg? I'm stuck with the following error
CMake Error at C:/Program Files/CMake/share/cmake-3.20/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
[code]
see https://github.com/hrueger/obs-studio-node-builds/runs/2481714957?check_suite_focus=true
my workflow is here: https://github.com/hrueger/obs-studio-node-builds/blob/main/.github/workflo

[2021-05-01 09:41] alokmahor commented on #44
I have emailed you exact steps

[2021-05-01 09:46] alokmahor commented on #44
To build obs-studio-node you need https://github.com/stream-labs/obs-studio not https://github.com/obsproject/obs-studio

[2021-08-09 10:39] hamburger-l commented on #27
Have you solved the problem?

[2021-08-09 11:19] hrueger commented on #27
Me or @jpa44 ?

[2021-08-09 12:52] hamburger-l commented on #27
@jpa44

[2021-08-18 09:58] bbc-594 opened #47 "What is the role of scene item.selected set to true"
When I read the streamlabs-obs project, I found that setting the selected of the scene item to true will add the corresponding select box, but I cannot reproduce it after the same operation

![1629280143(1)](https://user-images.githubusercontent.com/45661726/129878841-983d1adb-a510-4317-9f40-36529eea96b6.png)

https://github.com/stream-labs/streamlabs-obs/blob/master/app/services/selection/index.t

[2021-09-16 03:21] xueshuaichao commented on #31
I tried,but it not work.

[2021-09-22 06:08] chenyangxx commented on #22
same question

[2021-09-30 19:39] alectrocute commented on #45
Same, this is blocking any usage of this project for me.

[2021-10-07 02:10] yles9056 commented on #10
In case anyone need to get the size of a webcam without waiting:
The original size of a webcam is equal to its current resolution. When a webcam input source is created, it uses its default resolution.

You can use `cameraSource.properties.get("resolution").value` to read the resolution value.
However, if `cameraSource.properties.get("res_type").value` is 0, `cameraSource.properties.get("resolutio

[2022-01-12 01:53] mmppeegg opened #48 "Cannot not find any camera on macOS"
Hi,
My environment:
    Intel i9 MacBookPro with macOS 11 Big Sur
My build parameters:
    obs-studio-node-0.3.21-Darwin.tar.gz (which is built myself by XCode 13.2.1)
    https://slobs-node-window-rendering.s3-us-west-2.amazonaws.com/node-window-rendering-1.0.15-osx.tar.gz (Download)

I can't get neither embedded camera nor usb cam. Log here:
`yarn run v1.22.17
$ electron .
Initializing OBS...
Ve

[2022-01-12 17:41] Envek commented on #48
I'm out of context as I haven't touched this project for a while and don't have any capacity to dig into it.

Sorry, but I'm not able to provide any help in observable future.

[2022-07-04 19:36] aza547 commented on #12
Thanks for this answer. It's helpful.

Window capture didn't work for me to capture the game, it seems to capture the region on my screen behind the game rather than the game itself.

I tried to make `game_capture` work in the same manner but had no luck.  Is there a reference somewhere to these properties?

[2022-07-04 20:00] aza547 commented on #12
Hm I found an example here:
https://github.com/davidweatherall/replayslol-obs-recorder/blob/a1dac524eca22d95a7e940d3ab65a2eb6613fe30/src/NodeRecorder.ts

Might be an issue with my PC... recording appears to be working but the playback shows a black screen.

[2022-09-12 15:38] n3g2 commented on #47
OBS_content_setShouldDrawUI(displayId, true);

Solved the problem of marking display, but can't drag...

@bbc-594

[2022-11-30 08:10] jagaa99a commented on #44
Hi @alokmahor
Can you share the exact steps to rename a virtual camera?

Thank you

[2022-11-30 08:16] hrueger commented on #44
Hi @alokmahor,
this is what he had sent me via email:

1. `git clone --recursive https://github.com/stream-labs/obs-studio`
1. now edit source code to change virtual camera name in the file `plugins/slobs-virtual-cam/windows/obs-virtual-cam/src/virtual-source/dllmain.cpp`
1. now we are ready to compile this project for that we need do download dependencies
1. download dependencies from https://obs

[2022-11-30 10:46] jagaa99a commented on #44
@hrueger
Thank you for sharing.

Have you tried these steps? I stuck at

CPack Error: CPack project name not specified

Did you complete this step?

[2022-11-30 10:48] hrueger commented on #44
I'm not sure. I've been working on this three years ago, I don't remember, to be honest.